* {
  box-sizing: border-box;
}
body {
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
h1 {
  font-family: 'Abuget';
  font-size: 4em;
  color: #353e99;
}
.lauzun {
  width: 40px;
  height: auto;
}
.map {
  background-image: url('../images/carte-lauzun.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  height: 1000px;
}
.box {
  position: absolute;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  text-align: center;
}
.box p {
  width: 180px;
  word-wrap: break-word;
  color: #931a1d;
  margin: 0;
}
.box .bold {
  font-weight: bold;
}
.photo {
  width: 100px;
  height: auto;
}

.evelyne {
  left: 600px;
  top: 125px;
}
.stephane {
  left: 840px;
  top: 88px;
}
.habib {
  right: 200px;
  top: 65px;
}
.chantal {
  right: 10px;
  top: 265px;
}
.jean-paul {
  top: 480px;
  right: -33px;
}
.tina {
  top: 700px;
  right: -25px;
}
.marie-pierre {
  top: 860px;
  right: 240px;
}
.corinne {
  top: 950px;
  right: 520px;
}
.jean-pierre {
  top: 940px;
  left: 530px;
}
.patrick {
  top: 1050px;
  left: 275px;
}
.lynda {
  top: 960px;
  left: -35px;
}
.christine {
  top: 770px;
}
.jean-claude {
  top: 555px;
  left: 10px;
}
.stephanie {
  top: 350px;
  left: 90px;
}
.marc {
  top: 210px;
  left: 320px;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  min-width: 500px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 5px;
  position: absolute;
  z-index: 999;
}

/* Popup arrow
.popup .popuptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
