* {
  box-sizing: border-box;
}
h1 {
  font-family: 'Abuget';
  font-size: 4em;
  color: #353e99;
  text-align: center;
}
.image {
  background-image: url('https://res.cloudinary.com/dsd5xgbdi/image/upload/c_scale,w_1400/v1582490932/Lauzun-map_lhvsoa.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 789px;
  width: 1424px;
}
body {
  background-color: lightgoldenrodyellow;
}
.image {
  position: relative;
  z-index: 1;
}
.size {
  height: 120px;
  width: 100px;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
}
.box-evelyne {
  top: 10px;
  left: 615px;
}
.box-stephane {
  top: 10px;
  left: 667px;
}
.box-habib {
  top: 12px;
  left: 315px;
}
.box-chantal {
  top: -10px;
  left: 1000px;
}
.box-jeanpaul {
  left: 195px;
  top: 292px;
}
.box-tina {
  left: 910px;
  top: 480px;
}
.box-mariepierre {
  left: -193px;
  top: 575px;
}
.box-corinne {
  left: -265px;
  top: 605px;
}
.box-jeanpierre {
  left: -270px;
  top: 625px;
}
.box-patrick {
  left: -890px;
  top: 630px;
}
.box-lynda {
  left: -540px;
  top: 594px;
}
.box-christine {
  left: -295px;
  top: 435px;
}
.box-jeanclaude {
  left: -220px;
  top: 255px;
}
.box-stephanie {
  left: 32px;
  top: 157px;
}
.box-marc {
  top: -56px;
  left: 490px;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  min-width: 500px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 5px;
  position: absolute;
  top: 120px;
  z-index: 999;
}
.habib {
  left: -40px;
}
.chantal {
  left: -190px;
}
.jeanpaul {
  left: -230px;
}
.tina {
  top: -150px !important;
  left: -450px;
}
.mariepierre {
  top: -160px !important;
  left: -250px;
}
.corinne {
  top: -270px !important;
  left: -80px;
}
.jeanpierre {
  top: -195px !important;
}
.patrick {
  top: -108px !important;
}
.lynda {
  top: -125px !important;
}
.christine {
  top: -40px !important;
  left: 100px;
}
/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.description {
  color: #931a1d;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 1025px) {
  .mobile {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .image {
    display: none;
  }
  .mobile .presentation {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .image {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .image {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .image {
    display: none;
  }
}
